<div class = "container">
    <div class = "col-sm-6">
         <img src="images/people.jpg">
    </div>

    <div class = "col-sm-6">
        <h1>Welcome to Confetti Cusine!</h1>
        <p>Check out our cool courses by our talented chefs.</p>
        <p>If you want to see a new course, click <a href="/courses">this course page</a></p>
        <p>When you see a course you like, you can <a href="/contact">contact us!</a></p>
    </div>
    
</div>